body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#eb7d0f,#e6e5f5);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
    align-items: center;
    padding: 16px;
}

a {
    color: rgb(140,140,140);
    text-decoration: none;
}

img {
    border-radius: 65%;
    border: 5px solid black;
}

header {
    text-align: center;
}

button {
    background-color: #eb7d0f;
    padding: 15px;
    width: 15%;
    border-radius: 10px;
    color: #c7c7c7;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #eb7d0f;
}

.tres{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 7px;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.login{
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    border-radius: 30px;
    padding: 90px;
    gap: 5px;
}


.login h1{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.login p{
    display: inline-block;
    font-size: 14px;
    color: #eb7d0f;
    margin-bottom: 25px;
}

.login input{
    padding: 15px;
    font-size: 14px;
    border: 1px solid #eb7d0f;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    outline: none;
}


.login input:focus{
    border: 1px solid #eb7d0f;
}

.login label{
    font-size: 14px;
    font-weight: 600;
}

.login a.dois{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
}

.dois:hover{
    color: #eb7d0f;
}

.um{
    background-image: url(carteira.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 00px 00px;
}

h1{
    background-image: url();
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 10;
}
@media (max-width: 768px) {
    main {
        flex-wrap: wrap;
        flex-direction: column;
        display: block;
        justify-content: center;
        text-align: center;
    }
    .pricing {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    nav ul {
        justify-content: flex-start;
    }

    header, footer {
        text-align: left;
        padding: 20px 50px;
    }
}