* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.resources {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.resource-block {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resource-block h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.resource-block p {
  margin-bottom: 20px;
}

.btn-upgrade {
  padding: 10px 20px;
  background-color: #eb7d0f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-upgrade:hover {
  background-color: #eb7d0f;
}

.premium-info {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 10px;
}

.btn-upgrade-large {
  padding: 15px 30px;
  background-color: #eb7d0f;
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-upgrade-large:hover {
  background-color: #eb7d0f;
}
@media (max-width: 768px) {
  main {
      flex-wrap: wrap;
      flex-direction: column;
      display: block;
      justify-content: center;
      text-align: center;
  }
  .pricing {
      width: 80%;
  }
}

@media (max-width: 1024px) {
  nav ul {
      justify-content: flex-start;
  }

  header, footer {
      text-align: left;
      padding: 20px 50px;
  }
}